<% include head %>

<body>
	<header>
		<% include header %>
	</header>
<div id="content-container">
	<p>All Cars In Database</p>
<%
	for(i=0;i<photos.length;i++){
%>
	
	<img src="<%=photos[i].src%>"
	<h3 class="car-name"><%=photos[i].name%></h3>
<%
	}
%>
</div>
	<footer>
		<% include footer %>
	</footer>
</body>
</html>