<% include head %>

<body>
<header>
	<% include header %>
</header>


<div id="content-container" class="car-image circle-bg">
	<div class="image-container">
		<h3>Thanks!! You have voted on all the images!</h3>
	</div>
</div>
<footer>
	<% include footer %>
</footer>
</body>




