body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
	margin:30px 0px 0px 0px;
	padding-top:30px;
	font-size:32px;
	font-family:arial;
}
footer{
	margin-top: 50px;
}
.footer{
	font-size:18px;
}
img{
	width: 600px;
	margin:20px auto;
}
#content-container .car-name{
	display:block;
	font-size:20px;
}
#button-container{
	margin:20px;

}
#button-container .btn{
	margin:20px;
	width:250px;
	height:40px;
	font-size: 20px;

}
#content-container{
	background-color: #cf5300;
	border-radius: 20px;
	margin:auto;
	padding-bottom: 30px;
	width:800px;
	text-align: center;
}
#content-container h3{
	padding-top:40px;
}
.vote-button{
	display:inline;
}
#addition-form #carName, #addition-form #imageSrc{
	width:80%;
	height:50px;
	margin:20px;
	padding:10px;
	border-radius:10px;
}
#addition-form .btn{
	width:80%;
	margin-top: 20px;
	height: 50px;
	border-radius:10px;
}